body{
    position: relative;
    height: 100vh;
    top: auto;
    margin: 1.10rem;
    padding: 0.10rem;
    background-color: var(--color-white);
    .blogs{
        height: 90vh;
        background-color: var(--color-white);
        color: var(--color-green);
        .content{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 5rem;
            margin-top: 3rem;
            .title{
                font-family: var(--font-family-work);
                font-size: 6rem;
                font-weight: 900;
                color: var(--color-green);
                text-align: left;
            }
            .subtitle{
                font-family: var(--font-family-work);
                font-size: 3rem;
                font-weight: 400;
                color: var(--color-red);
                text-align: left;
            }
            .cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-width: 100%;
                .card{
                    width: 80%;
                    min-width: 600px;
                    position: relative;
                    float: left;
                    min-width: 30%;
                    width: 10%;
                    padding: .5rem;
                    margin: 1rem;
                    background-color: var(--color-red);
                    p{
                        font-family: var(--font-family-petrona);
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: var(--color-white);
                        text-align: left;
                        float: left;
                        mix-blend-mode: difference;
                    }
                    .card_image{
                        position: relative;
                        float: right;
                        right: -30%;
                        width: 30%;
                        height: 100%;
                        transform: translate(-25%, -35%);
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .card_content{
                        position: relative;
                        float: left;
                        width: 100%;
                        height: 100%;
                        background-color: var(--color-red);
                        .card_title{
                            font-family: var(--font-family-work);
                            text-transform: uppercase;
                            font-size: 5rem;
                            font-weight: 900;
                            color: var(--color-green);
                            text-align: left;
                        }
                        .card_text{
                            font-family: var(--font-family-work);
                            font-size: 1.5rem;
                            font-weight: 400;
                            color: var(--color-red);
                            text-align: left;
                        }
                        a{
                            font-family: var(--font-family-work);
                            font-size: 1.5rem;
                            font-weight: 400;
                            color: var(--color-red);
                            text-align: left;}
                    }
                }
                
            }
        }
    }
}

