body {
    height: 100vh;
    top: auto;
    margin: 0;
    padding: 0;
/* 
    .about {

       height: 100vh;
       background: #EEEBD3;
       color:#255957;

    }
    .projects {
       height: 100vh;
        background: #C44536;
        color: #EEEBD3;
    }
    .blogs{
        background: #EEEBD3;
        color:#255957;
       height: 100vh;

    }
    .contact {
        color:#EEEBD3;
        background: #255957;
       height: 100vh;
    }

*/

}
